body{
    background-color: rgb(245, 224, 227);
    padding: 0 50px;
    margin: 0;
    font-family: Arial
}

ul{
    list-style: none;padding: 0;
    margin: 0;
}

h2{
    margin-top: 50px;
    color: rgb(124, 28, 28);
}

h4 {
    color: rgb(121, 146, 153);
    font-weight: bold;
    background-color: transparent; 
    padding: 4px 0;
    text-transform: uppercase;
}

ul.list-of-products{
    width: 400px;
    margin-top: 20px;

    li{
        display: flex;
        justify-content: space-between;
        border: 1px solid grey;
        padding: 5px 20px;
        background-color: antiquewhite;

        &:first-child{   
            font-weight: bold;
            color: rgb(60, 131, 153);

            div{
                position: relative;
                border-bottom: 2px dashed  rgb(60, 131, 153);;

                ul.currency{
                    display: none;
                    position: absolute;
                    top: 100%;   
                    left: -20px;            
                    padding: 0 20px;                    
                    border-radius: 5px;
                    color: grey;

                    li{
                        display: block;
                        padding: 5px 20px;
                        background-color: rgb(248, 244, 239);

                        &:first-child{ 
                            color: grey;
                        }

                        &:hover{
                            color: rgb(60, 131, 153);
                            background-color: white;
                        }
                    }
                }                
            }
        }

        &:last-child{
            font-weight: bold;
        }
    }
}

.search{
    position: relative;
    
    .search-link{
        position: absolute;
        left: 0;
        width: 150px;
        padding: 0px 10px;
        border-radius: 2px;
        border: 1px solid lightblue;
        display: none;
        background-color: white;
    }
}



.modal-window{
    visibility: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-info{
        display: none;
        width: 200px;
        height: 100px;
        background-color: orange;
        text-align: center;
        vertical-align: middle;
        line-height: 100px;
    }
}

