body{
    background-color: rgb(245, 224, 227);
    font-size: 14px;
}

h2{
    margin-top: 50px;
    color: rgb(124, 28, 28);
    font-size: 2em;
}
ul{
    li{
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 1.5em;

        ul{
            padding-top:10px;
            li{
                margin: 0;                        
                font-weight: normal;
                font-size: 0.7em;

                a{
                    color: rgb(134, 132, 134);
                    text-decoration: none;
                }
            }
        }
    }
}
