body {
  background-color: #f5e0e3;
  font-size: 14px;
}

h2 {
  margin-top: 50px;
  color: #7c1c1c;
  font-size: 2em;
}

ul li {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 1.5em;
}

ul li ul {
  padding-top: 10px;
}

ul li ul li {
  margin: 0;
  font-weight: normal;
  font-size: 0.7em;
}

ul li ul li a {
  color: #868486;
  text-decoration: none;
}
